body 
{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #fff;
}


p 
{
	font-size: 4em;
	font-weight: black;
	margin: 0;	
}

/* CENTRED CONTENT */

.paragraph-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content 
{
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1em;
	height: 1000px;
}

/* FULL-SIZE IMAGES */

.full 
{	
	background-color: #ff99a1;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 100%;
}

#one 
{
	background-image: url(../images/img1.jpg);
}

#two 
{
	background-image: url(../images/img2.jpg);
}

#three 
{
	background-image: url(../images/img3.jpeg);
}

#four 
{
	background-image: url(../images/img4.jpeg);
}

/* MAILCHIMP FORM */

#mc_embed_signup 
{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 30em;
	height: 13em;
	margin: -6.5em 0 0 -15em;
}

input 
{
	box-sizing: border-box;
	width: 100%;
	color: #000;
}

input[type="submit"]
{
	margin: 1em 0;
	background-color: #d72151;
	width: 100px;
	color: #FFF;
	border-radius: .25em;
	border: none;
	padding: .5em;
}
