---
title: Comxps
layout:  layouts/project.njk
coverImage: ../assets/img/group-enjoying-lunch-office.jpg
tags: project
skills: Bespoke WordPress
projectLink: https://inspire.resknow.co
---

<section>
   <div class="text">
     <h2>Custom WordPress Theme</h2>
       <p>A rebuild of the Comxps website, with ACF implementation to provide a seamless user experience for the client when updating content in the CMS.</p>

       <a class="button button__standard" href="{{projectLink}}" target="_blank">Visit Website</a>
   </div>

   <img class="top" src="../assets/img/comxps-mockup.png" alt="Comxps website mockup">
</section>

