---
title: Dennis of Bexley
layout:  layouts/project.njk
coverImage: ../assets/img/dennis-of-bexley.jpg
tags: project
skills: eCommerce, WordPress, PHP, ACF
projectLink: https://dennisofbexley.com/
---

<section>
   <div class="text">
     <h2>Bespoke WordPress Theme</h2>
       <p>A rebuild of the Dennis of Bexley website, with a custom ordering system built using WooCommerce for their Buffet Catering and Christmas products.</p>

       <a class="button button__standard" href="{{projectLink}}" target="_blank">Visit Website</a>
   </div>

   <img class="top" src="../assets/img/dennis-of-bexley-mockup.png" alt="Dennis of Bexley website mockup">
</section>

