---
title: Dennis of Bexley
layout:  layouts/project.njk
coverImage: ../assets/img/dennis-of-bexley.jpg
tags: project
skills: eCommerce
projectLink: https://dennisofbexley.com/
---

<section>
   <div class="text">
     <h2>Custom WordPress Theme</h2>
       <p>A rebuild of the Dennis of Bexley website, built on Wordpress using custom code.</p>

       <a class="button button__standard" href="{{projectLink}}" target="_blank">Visit Website</a>
   </div>

   <img class="top" src="../assets/img/dennis-of-bexley-mockup.png" alt="Dennis of Bexley old shop front">
</section>

