---
title: HWM Solutions
layout:  layouts/project.njk
coverImage: ../assets/img/hwm-solutions-team.jpg
tags: project
skills: Headless CMS
projectLink: https://hwmsolutions.com/
---

<section>
   <div class="text">
     <h2>11ty Static Website</h2>
      <p>A static website built using 11ty a Node.js static site generator and the WordPress API to allow the client to upload latest projects.</p>
       <a class="button button__standard" href="{{projectLink}}" target="_blank">Visit Website</a>
   </div>

   <img class="center" src="../assets/img/hwm-solutions-mockup.png" alt="HWM Solutions website mockup">
</section>

