---
title: Web Design & Development | Kaleshe
description: I'm Kaleshe a freelance Web Designer with over 3 years of professional experience, based in South-East London.
slug: index
heading: Digital Designer & Web Developer
layout:  layouts/default.njk
---

<section>
    <div class="projects grid">
       {% for project in collections.project %}
        <a href="{{ project.url }}" class="project" data-aos="fade-up">
          <div class="{{ project.data.title | slug }}">
             <img src="{%if project.data.coverImage%}{{ project.data.coverImage }}{%else%}../assets/img/placeholder.svg{%endif%}" alt="">
            <h2>{{ project.data.title }}</h2><span class="sub-title">{{project.data.skills}}</span>
          </div>
       </a>
       {% endfor %}
    </div>
</section>

<section class="cta center">
   <h3>Want to discuss an upcoming project?</h3>
   <a href="/contact" class="button button__standard">Get in touch</a>
</section>
