body {
	margin: auto 0;
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
}

.content, nav {
	font-size: 1.1em;
}

/* Navigation */

nav ul {
	background-color: #05167a;
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 18px 0 18px 0;
	overflow: hidden;
	letter-spacing: 0.1em;
	z-index: 3;
}

nav li {
	margin: 0 50px 0 50px;
	float: left;
}

nav li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	display: block;
}

/* Header */

header {
	background: url("../images/jumbotronimg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 1000px;
	position: relative;
	z-index: -1;
}

.content {
	height: 1000px;
	max-width: 1560px;
	margin: auto;
	line-height: 1.5em;
	padding-top: 100px;
}

#title {
	font-size: 9em;
}

#quote {
	color: #fff;
	font-style: italic;
	font-weight: lighter;
	text-shadow: 1px 1px 1px #5b5b5b;
	font-size: 2em;
	position: relative;
	bottom: 150px;
	float: right;
}

article {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Banner */

.banner {
	background-color: #000e2d;
	color: #fff;
	width: 230px;
	margin: 0;
	display: inline-block;
	padding: 10px 20px 10px 100px;
	letter-spacing: 0.09em;
	text-align: center;
	margin-top: 10px;
	}

.full-width-bg {
	background-color: #e2e2e2;
}

.content p {
	margin: 0.5em;
}

.content h2 {
	font-size: 2em;
}

#second {
	float: none;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
2
@media only screen
3
and (min-device-width : 320px)
4
and (max-device-width : 480px) {
5
/* Styles */
6
}
7
/* Smartphones (landscape) ----------- */
8
@media only screen
9
and (min-width : 321px) {
10
/* Styles */
11
}
12
/* Smartphones (portrait) ----------- */
13
@media only screen
14
and (max-width : 320px) {
15
/* Styles */
16
}
17
/* iPads (portrait and landscape) ----------- */
18
@media only screen
19
and (min-device-width : 768px)
20
and (max-device-width : 1024px) {
21
/* Styles */
22
}
23
/* iPads (landscape) ----------- */
24
@media only screen
25
and (min-device-width : 768px)
26
and (max-device-width : 1024px)
27
and (orientation : landscape) {
28
/* Styles */
29
}
30
/* iPads (portrait) ----------- */
31
@media only screen
32
and (min-device-width : 768px)
33
and (max-device-width : 1024px)
34
and (orientation : portrait) {
35
/* Styles */
36
}
37
/* Desktops and laptops ----------- */
38
@media only screen
39
and (min-width : 1224px) {
40
/* Styles */
41
}
42
/* Large screens ----------- */
43
@media only screen
44
and (min-width : 1824px) {
45
/* Styles */
46
}
47
/* iPhone 4 ----------- */
48
@media
49
only screen and (-webkit-min-device-pixel-ratio : 1.5),
50
only screen and (min-device-pixel-ratio : 1.5) {
51
/* Styles */
52
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}
