body {
	margin: auto 0;
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
}

#container {
	max-width: 100%;
}

/* Navigation */

/* Mobile */
.mnav {
	display: none;
}

.mnav ul {
		background-color: rgba(5, 22, 122, 0.8);
		width: 200px;
		margin: 0 0 0 150px;
		padding: 0;
}

.mnav li {
		float: none;
		text-align: center;
		margin: 0;
}

.mnav li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	transition: all 0.2s ease-out;
}

.dropdown {
	display: none;
}

/* Desktop */
nav ul, .dropdown {
	background-color: rgba(5, 22, 122, 1);
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 18px 0 18px 0;
	overflow: hidden;
	letter-spacing: 0.1em;
	z-index: 3;
}

nav li {
	margin: 0 50px 0 50px;
	float: left;
}

nav li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	transition: all 0.2s ease-out;
}

nav a:active {
	
}

nav a:hover, .mnav a:hover {
	color: rgba(255, 255, 255, 0.5); 
}

nav a:visited{
	
}

.list-wrap ul{
	display: inline-block;		
}
 
/* Header */


header {
	background: url("../images/headerbg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	position: relative;
	height: 1000px;
}

blockquote h1 {
	position: absolute;
	font-size: 3em;
	right: 0;
	bottom: 0;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-weight: lighter;
	text-shadow: 1px 1px 1px #5b5b5b;
	font-size: 2em;
	position: absolute;
	left: 200px;
	top: 0;
}

blockquote {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Sub Heading */


.sub-heading {
	padding: 0 20px 0 0;
	}

.banner {
	background-color: #000e2d;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	letter-spacing: 0.09em;
	text-align: right;
	position: relative;
	width: 100%;
}

/* Second Background Colour */	
	
	
.full-width-bg {
	background-color: #e2e2e2;
	position: relative;
}

/* Content */

section.first ul{
	margin: 50px 0 20px 0;
}

.content {
	width: 52%;
	margin: auto;
	line-height: 1.5em;
	padding-top: 100px;
	padding: 0 0 300px 0;
}

.content.first, .content.second, .content.third {
	padding-top: 7%;
}

.content h2 {
	font-size: 2em;
}

/* Anchor */


.anchor{
  display: block;
  height: 300px; /*same height as header*/
  margin-top: -300px; /*same height as header*/
  visibility: hidden;
}

/* Footer */

footer {
	margin: 20px;
}

/* Display on different devices */


/*  Menu Break */
@media screen and (max-width:1065px) {
	/*nav li {
		float: none;
		text-align: center;
		margin: 0;
	}
	
	nav ul{
		background-color: rgba(5, 22, 122, 0.8);
		width: 200px;
		margin: 0 0 0 150px;
		padding: 0;

	}
	HIDDEN NAV FOR TEST */
	
	nav { 
		display: none;
	}
	
	.dropdown {
		display: block;
	}
	
	.dropdown a{
		text-decoration: none;
		color: #fff;
	}
	
	.dropdown ul {
		list-style-type: none;
	}
	
	.dropdown > ul> li:hover > .mnav {
		display: block;
		background-color: rgba{5, 22, 122, 0.8);
	}
	.content {
		padding: 0;
		padding-bottom: 20px;
	}
	
	.content.first {
		padding-bottom: 150px;		
	}
}

@media screen and (max-width:1495px) {
	section.content.first ul {
		margin: 0;
	}
	
	.list-wrap {
		margin: 20px 0;
	}

	.content {
		width: 90%;
	}
	
	.sub-heading {
		width: 85%;
		display: block;
		margin: auto;
	}
	
	.banner {
		padding: 10px 0 10px 0;
	}

	blockquote {
		display: none;
	}
	
	header {
		height: 400px;
		background-image: url("../images/headerbgsmall.jpg");

	}
	
	section.content h2 {
		line-height: 1em;
	}
}
