/*
Colors
======================
Light green: #22BF40
Dark green: #1A8F30
Greenish grey: #403A31
Dark grey: #252625
Light grey: #E5E5E5
Pink: #B21645
*/


* {
    box-sizing: border-box;
}

p {
  line-height: 1em;
}

h2 {
  letter-spacing: 0.09em;
}

h3, #latest-news h2 {
  color: #B21645;
}

body {
  color: #403A31;
  font-family: 'Helvetica', 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #22BF40;
  color: #FFF;
}

.top-header-wrapper {
  padding: 40px;
}

.top-header-wrapper img {
  display: inline-block;
}

#surgery-details {
  display: inline-block;
  float: right;
}

#surgery-details p {
  position: relative;
  top: -11px;
}

#surgery-details p, footer p {
  font-size: 0.8em;
  line-height: 1.5em;
}

nav {
  clear: both;
  background-color: #1A8F30;
  width: 100%;
  text-align: center;
  padding: 1px;
}

nav ul li {
  display: inline-block;
  margin: 0 3%;
}

ul {
  list-style: none;
  padding-left: 0;
}

li a {
  text-decoration: none;
  color: #FFF;
}

li a:hover {
  cursor: pointer;
}

#hero {
  background: url('../img/docjumbotron.jpg') no-repeat;
  height: 55vh;
  background-position: 90% 10%;
  background-size: cover;
}

.landing-wrapper {
  width: 1280px;
  margin: 50px auto;
  position: relative;
}

#opening-hours {
  color: #FFF;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 2% 7%;
  display: inline-block;
}

#opening-hours ul {
  line-height: 2em;
  font-size: 0.9em;
  letter-spacing: 0.07em;
}

#intro-text {
  position: absolute;
  width: 65%;
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 4%;
}

#intro-text h2 {
  color: #22BF40;
  text-align: center;
}

#intro-text p, #latest-news p {
  line-height: 1.8em;
}

.box {
  height: 300px;
  color: #FFF;
  position: relative;
  display: inline-block;
  width: calc(100% / 4);
  height: 300px;
  overflow: hidden;
  padding: 0 10px;
}

.box-label {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  padding: 10px 0;
  transition: padding 0.3s;
}

.box-label:hover {
  padding: 25px 0;
  cursor: pointer;
}

.box-wrapper {
  background-color:  #B21645;
  padding: 40px;
  font-size: 0;
}

.box img, #logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

.box-label p {
  color: #FFF;
  font-size: 14px;
}

.latest-news-wrapper{
  background-color: #F1F1F1;
}

#latest-news {
  clear: both;
  width: 60%;
  padding: 40px 0;
  margin: auto;
}

footer {
  background-color: #252625;
  color: #FFF;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 1094px){
    header {
      width: 100%;
    }

    #hero {
      height: 30vh;
      background-position: 5% 20%;
    }
    .box {
      width: 100%;
      height: 100px;
    }

    .landing-wrapper {
      width: 100%;
      margin: 0 auto;
      height: auto;
      position: relative;
    }

    #opening-hours {
      position: static;
      display: block;
      width: 600px;
      transform: none;
      text-align: center;
      padding: 2%;
      margin: 5% auto;
    }

    #intro-text {
      width: 100%;
      position: static;
      transform: none;
      padding: 0 5% 5% 5%;
      margin-left: 0;
      display: static;
  }

    #intro-text h2 {
      text-align: left;
      margin: 0;
    }

    #intro-text p {
      margin: 12px 0;

    }

    #latest-news {
      width: 100%;
      margin: 0;
      padding: 5%;
    }
}

@media only screen and (max-width: 626px){
  #opening-hours {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
    margin: 0;
  }

  #intro-text {
    padding-top: 5%;
  }

  .top-header-wrapper img {
    width: 100%;
  }
}
