/*
Colors
======================
Light green: #22BF40
Dark green: #1A8F30
Greenish grey: #403A31
Dark grey: #252625
Light grey: #E5E5E5
Pink: #B21645
*/

@keyframes hover {
  100% {
    opacity: 0.8;
  }
}

@keyframes box-stretch {
  100% {
    padding: 30px 0;
  }
}

body {
  color: #403A31;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#logo {
}

#trggp-details {
  float: right;
  line-height: 5px;
  font-size: 0.8em;
}

.header-info {
  padding: 40px;
}

header {
  background-color: #22BF40;
  color: #FFF;
  position: relative;
  height: 122px;
}

nav {
  background-color: #1A8F30;
  position: absolute;
  bottom: -64px;
  left: 0;
  width: 100%;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 5px 50px;
}

li a {
  text-decoration: none;
  color: #FFF;
}

li a:hover {
  animation: hover 1s ease-in-out forwards;
  cursor: pointer;
}

ul {
  list-style: none;
}

#hero {
  background: url('../img/docjumbotron.jpg') no-repeat;
  height: 55vh;
  background-position: 90% 10%;
  background-size: cover;
}

.section-first {
  width: 1300px;
  margin: 10px auto;
  height: 70vh;
  position: relative;
}

#opening-hours {
  position: absolute;
  color: #FFF;
  background-color: rgba(0,0,0,0.7);
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  padding: 50px 120px;
  left: 0;
}

#opening-hours ul {
  line-height: 2.5em;
}

#opening-hours ul {
  padding-left: 0;
  font-size: 0.9em;
}

#intro-text h2 {
  color: #22BF40;
  text-align: center;
}

#intro-text {
  width: 800px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

#intro-text p {
  line-height: 1.8em;
  margin: 30px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.box {
  float: left;
  width: 30%;
  height: 300px;
  background-color: #252625;
  color: #FFF;
  position: relative;
  margin: 20px;
}

.box-label {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 7px 0;
}

.box-label:hover {
  animation: box-stretch 1s forwards ease-in-out;
  cursor: pointer;
}

.box-container {
  width: 1200px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.box-wrapper {
  background-color: #E5E5E5;
  height: 50vh;
  position: relative;
}

#stethoscope {
  background: url('https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg') no-repeat;
  background-size: cover;
}

#prescription {
  background: url('https://cdn.pixabay.com/photo/2016/07/25/10/15/headache-1540220_1280.jpg') no-repeat;
  background-size: cover;
}

#group {
  background: url('https://cdn.pixabay.com/photo/2014/07/08/10/47/team-386673_1280.jpg') no-repeat;
  background-size: cover;
}

#latest-news {
  clear: both;
  width: 700px;
  margin: auto;
  color: #FFF;
  padding: 40px;
}

.latest-news-container {
  background-color: #B21645;
}

footer {
  background-color: #252625;
  color: #FFF;
  text-align: center;
  padding: 15px;
}
