/*
Colors
======================
Light green: #22BF40
Dark green: #1A8F30
Greenish grey: #403A31
Dark grey: #252625
Light grey: #E5E5E5
Pink: #B21645
*/


* {
    box-sizing: border-box;
}

h3, #latest-news h2 {
  color: #22BF40;
}

h2 {
  margin: 0;
}

body {
  color: #403A31;
  font-family: 'Open Sans', 'Helvetica', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header {
  background-color: #22BF40;
  color: #FFF;
}
.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 20px;
  background-color: #1A8F30;
}

.bar-1, .bar-2, .bar-3 {
  background-color: #FFF;
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px;
}

.top-header-wrapper {
  padding: 50px;
}

.logo {
  text-align: center;
  display: inline-block;
  font-family: Helvetica;
}

#logo-1 {
  font-size: 2em;
  letter-spacing: 0.1em;
}

#logo-2 {
  text-transform: uppercase;
  letter-spacing: 0.75em;
}

#surgery-details {
  display: inline-block;
  float: right;
}

#surgery-details p {
  position: relative;
}

.landing-wrapper {
  padding: 40px 0;
}

nav {
  background-color: #1A8F30;
  width: 100%;
  text-align: center;
  display: block;
}

nav ul li {
  display: inline-block;
  letter-spacing: 0.05em;
  transition: background-color 0.5s;
}

nav ul li:hover {
  background-color: #167829;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

li {
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 20px 70px;
}

#hero {
  background: url('../img/docjumbotron.jpg') no-repeat;
  min-height: 55vh;
  background-position: 50% 20%;
  background-size: cover;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

caption {
    display: table-caption;
    text-align: center;
    padding: 5px;
}


#intro-text h2 {
  color: #22BF40;
  text-align: center;
}

#intro-text p, #latest-news p {
  line-height: 2em;
}

#intro-text {
  min-width: 400px;
}

.box {
  height: 300px;
  color: #FFF;
  position: relative;
  display: inline-block;
  width: calc(100% / 4);
  height: 300px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
}

.box-label {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  padding: 10px 0;
  transition: padding 0.3s;
  font-size: 14px
}

.box:hover > .box-label {
  padding: 25px 0;
  cursor: pointer;
}

.box-wrapper {
  background-color:  #E5E5E5;
  padding: 40px;
  font-size: 0;
}

.box img, #logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

.box-label p {
  color: #FFF;
}

.latest-news-wrapper{
  position: relative;
}

.content {
    padding: 30px 0;
}

#intro-text {
  max-width: 800px;
  margin: 0 auto;
}

#latest-news {
  width: 60%;
  margin: auto;
}

#latest-news, #intro-text {
  padding: 40px 0;
}

footer {
  background-color: #252625;
  color: #FFF;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 1031px) {
  .box {
    display: block;
    width: 100%;
    height: 30vh;
  }
}

@media only screen and (max-width: 962px) {

    #latest-news,#intro-text {
      width: 100%;
      padding: 30px;
    }

    .content {
      padding: 10px;
    }
    .top-header-wrapper {
      padding: 20px;
    }

    .logo {
      display: block;
      text-align: center;
      font-family: Helvetica;
    }

    #logo-1 {
      font-size: 2em;
      letter-spacing: 0.1em;
      text-align: center;
    }

    #logo-2 {
      text-transform: uppercase;
      letter-spacing: 0.75em;
      text-align: center;
    }

    #surgery-details {
      display: block;
      float: none;
      text-align: center;
    }

    #surgery-details p {
      position: relative;
    }

}

@media only screen and (max-width: 881px) {
  nav {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon a {
    padding-top: -20px;
  }

  .hamburger-icon:hover > nav {
    display: block;
  }

  nav li a {
    padding: 0 30px;
  }
}
