body {
  background-color: #EF3C23;
  color: white;
  font-family: lato;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
}

h2 {
  font-weight: lighter;
}
