:root {
  --main-colour: #EF3C23;
  --paragraph-colour: #606060;
}

/* Global Styles*/

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#index {
  background: url('../img/svg/top-curve.svg') no-repeat bottom;
}

h2 {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, ul li, button, input[type="submit"] {
  font-family: 'Arboria', sans-serif;
  font-weight: 600;
}

input, textarea, button, input[type="submit"] {
  border-radius: .2em;
  transition: .2s ease-in;
}

input, textarea, .dark, .project button {
  border: 2px solid #000;
  font-size: .9em;
}

button, .orange {
  cursor: pointer;
}

.orange:hover {
  border: 2px solid var(--main-colour);
  color: var(--main-colour);
  background-color: #FFF!important;
}

.orange {
  border: 2px solid var(--main-colour);
  background-color: var(--main-colour)!important;
  color: #FFF;
}

textarea {
  min-height: 200px;
}

button:hover {
  border: 2px solid var(--main-colour);
  color: var(--main-colour);
}

a {
  color: #000;
  text-decoration: none;
}

.active {
  color: var(--main-colour)!important;
}

a:hover {
  color: var(--main-colour);
  transition: .2s ease-in;
}

#hero .content {
  float: left;
}

#hero img {
  float: left;
  width: 595px;
}

img {
  max-width: 100%;
}

#logo {
  background-color: var(--main-colour);
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 1em;
}

#logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
}

button, input[type="submit"] {
  text-transform: uppercase;
  padding: 1.2em 1.9em;
  background-color: rgba(0,0,0,0);
  margin: .5em 0;
}

input, textarea {
  padding: 1em 1em;
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: .5em 0;
  border: 2px solid #EEEEEE;
}

.grid {
  display: grid;
}

ul {
  list-style: none;
  padding-left: 0;
}

form {
  position: relative;
  max-width: 500px;
}

input[type="submit"] {
  width: unset;
}

header {
  margin: 2em;
}

footer {
  background-color: #000;
  color: #FFF;
  font-size: .8em;
  text-align: center;
  padding: 2em;
}

#kaleshe-icon {
  max-height: 360px;
  position: absolute;
  right: -70px;
  top: 240px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.content {
  margin: 1em;
}

#contact-info h3, #contact-info h4 {
  margin: .5em 0;
}

#contact-info p {
    margin: 0 0 1em 0;
}

#contact-info a {
  color: var(--main-colour);
  font-weight: bold;
  font-size: .9em;
}

/* Hamburger */

#hamburger {
  width: 40px;
  position: relative;
}

.bar {
  height: 4px;
  background-color: var(--main-colour);
  width: 100%;
  display: block;
  transition: .2s ease-in-out;
}

.bar:nth-child(2n){
  margin: .3em 0;
}

.close .bar:first-of-type {
  position: absolute;
  transform: rotate(45deg);
  bottom: 6px;
}

.close .bar:last-of-type {
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
}

.close .bar:nth-child(2n){
  opacity: 0;
}

.display-menu {
  display: block
}

nav, #hamburger {
  z-index: 100;
}

.close .bar {
  background-color: #FFF;
}

/* Titles */

.title {
  display: flex;
}

.title h1 {
  margin: auto;
}

.about {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('../img/kav-branding-stationary.jpg') no-repeat center/ cover;
  color: #FFF;
}

.glo {
  color: #FFF;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('../img/glo-mobile-and-laptop.jpg') no-repeat center / cover;
}

.pxa {
  color: #FFF;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('../img/billboard-mockup.jpg') no-repeat 50% 35%/ cover;
}

.contact {
  color: #FFF;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('../img/contact-us.png') no-repeat 50% 65%/ cover;
}

.mublo {
  color: #FFF;
  background: #8247FF;
}

.fe {
  background: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('../img/svg/fe-bubbles.svg') no-repeat center/ 40%;
  color: #FFF;
}

.contain {
  object-fit: contain;
}

.top {
  object-position: top;
}

@media screen and (max-width: 1316px){
  .container {
    max-width: 800px;
  }

  #hero .content {
    float: none;
    text-align: center;
    margin: 4em auto;
    max-width: 677px;
  }

  #hero img {
    float: none;
    margin: auto;
    display: block;
  }

  #contact .container {
    margin: 1em;
  }
}

@media screen and (min-width: 1000px){
  .title {
    min-height: 30vh;
  }
}

@media screen and (min-width: 999px){
  #contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contact-info {
    max-width: 400px;
  }
}

@media screen and (max-width: 999px){

  .title {
    min-height: 250px;
  }
}

@media screen and (max-width: 998px){
  form {
    margin: auto;
  }

  #contact h2 {
    text-align: center;
  }

  #contact-info {
    max-width: 500px;
    margin: 2em auto;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (min-width: 859px){

  .project main {
    margin: 2em;
  }

  .col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .margin, .col-2 {
    margin: 8% 0;
  }

  .col-2:nth-child(2n){
    flex-direction: row-reverse;
  }

  .col-2 img {
    width: 48%;
    height: 400px;
    object-fit: cover;
  }

  .col-2 .content {
    max-width: 45%;
  }
}

@media screen and (min-width: 769px){
  #hamburger {
    display: none;
  }

  #hero .container {
    margin: 8em auto 2em auto;
    max-width: 1344px;
  }

  .project .container {
    max-width: 1500px;
  }

  .container {
    margin: auto;
    max-width: 1200px;
  }

  #hero h1 {
    margin: .2em 0;
    font-size: 3.1em;
  }

  #hero p {
    margin: .3em 0;
    font-size: 1.2em;
  }

  button {
    margin: 2em 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo, nav, nav ul li {
    display: inline-block;
  }

  nav ul li {
    margin-left: 2.8em;
  }

  #kaleshe-icon {
    height: 200px;
  }

  /* Sub Meu */

  nav > ul {
    position: relative;
  }

  nav > ul > li:hover > .sub-menu {
    display: block;
  }

  .sub-menu {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    top: 29px;
    min-width: 200px;
    left: 180px;
  }

  .sub-menu a {
    color: #FFF;
  }

  .sub-menu a:hover {
    color: var(--main-colour);
  }

  .sub-menu li {
    font-weight: 400;
    margin: .5em 0;
    display: block;
    padding: 1em 2em;
    font-size: .9em;
  }

  a {
    padding: 1em 0;
  }

  h1 {
    font-size: 3rem;
    margin: .5em 0;
  }
}

/* Tablet */

@media screen and (max-width: 768px){
  h1 {
    font-size: 2rem;
    margin: .5em 0;
  }

  #kaleshe-icon {
    margin: 2em auto;
    position: static;
    max-width: 100px;
    display: block;
  }

  li {
    font-size: .9em;
  }

  .sub-menu li {
    font-size: .7em;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    margin: .4em 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em;
  }

  #logo {
    width: 50px;
    height: 50px;
    border-radius: .6em;
  }

  #hamburger {
    display: inline-block;
    cursor: pointer;
  }

  .content {
    margin: 2em;
  }

  #hero .content {
    margin: 4em auto 2em auto;
  }

  nav {
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0,0,0,0.95);
    color: #FFF;
    height: 0;
    overflow: hidden;

    top: 0;
    width: 100%;
    left: 0;
    font-size: 2em;
    transition: .8s ease-in-out;
    text-align: center;
  }

  nav.display-menu{
    position: fixed;
    height: 100%;
  }

  #hamburger.close {
  position: fixed;
  right: 1em;
}

  nav > ul {
    margin: 3em 0 1em 0;
  }

  nav a {
    color: #FFF;
  }

}

@media screen and (max-width: 700px){
  #hero .content {
    margin: 4em 1em;
  }

  header {
    margin: 1em;
  }
}
