   <footer>
      <div class="container">
         <p>Copyright © {{ copyright.currentYear }} Kaleshe Alleyne-Vassel</p>
      </div>
   </footer>

   <script src="/assets/js/script.js"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script>
      AOS.init();
   </script>
</body>
</html>
