<!doctype html>
<html lang="en">
<head>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108410410-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-108410410-1');
   </script>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% if description %}
      <meta name="description" content="{{description}}">
   {% endif %}

   <!-- Stylesheets -->
   <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

   <!-- Fonts -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.typekit.net/ofh2xqy.css">

   <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/favicon.png">


   <title>{{title}}</title>
</head>
   <body class="page-{%if slug%}{{slug}}{%else%}{{ title | slug }}{%endif%}{%if tags%} {{tags}}{%endif%}">
      <header role="banner">
         <div class="container">
            <a href="/" id="logo">
              <img src="/assets/img/svg/kav-logo.svg" alt="">
            </a>

             <nav id="menu">
               <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="/contact">Contact</a></li>
               </ul>
             </nav>

             <div id="hamburger">
               <div class="bar">
               </div>
               <div class="bar">
               </div>
               <div class="bar">
               </div>
             </div>
          </div>
      </header>

      {# <img src="/assets/img/svg/kaleshe-icon.svg" class="kaleshe-icon"> #}
