{% include "partials/header.njk" %}

      <header class="{%if slug%}{{slug}}{%else%}{{title | lower}}{%endif%} title" {%if headerImage%} style="background-image:url('{{ headerImage }}')" {%endif%}>
         <div class="container">
            <h1>{%if heading%}{{heading}}{%else%}{{title}}{%endif%}</h1>
            {% if slug == "index" %}
               <span class="sub-title">Hello, I'm Kaleshe. I create beautiful products that are easy to use</span>
            {% endif %}
         </div>
      </header>

      <main>
         <div class="container">
            {{ content | safe }}
         </div>
      </main>

{% include "partials/footer.njk" %}
