{% include "partials/header.njk" %}

      <header {%if headerImage%} class="has__background" style="background-image:url('{{ headerImage }}')" {%endif%}>
         <div class="container">
            <h1>{%if heading%}{{heading}}{%else%}{{title}}{%endif%}</h1>
         </div>
      </header>

      <main class="single-project">
         <div class="container z-row">
            {{ content | safe }}
         </div>

          <section class="cta center">
            <h3>Want to discuss an upcoming project?</h3>
            <a href="/contact" class="button button__standard">Get in touch</a>
         </section>
      </main>

{% include "partials/footer.njk" %}
