{% include "partials/header.njk" %}

      <header {%if headerImage%} class="has__background" style="background-image:url('{{ headerImage }}')" {%endif%}>
         <div class="container">
            <h1>{%if heading%}{{heading}}{%else%}{{title}}{%endif%}</h1>
         </div>
      </header>

      <main>
         <div class="container z-row">
            {{ content | safe }}
         </div>
      </main>

{% include "partials/footer.njk" %}
